body{
    margin: 0;
    padding: 0;
    background-color: #333;
}
/*------------------------HEADER------------------------*/
header{
    background-color: #fff;
    box-shadow: 3px 5px 2px black;
}
#LOGO{
    padding-top: 15px;
    height: 120px;
    margin-left: 650px;
}
#menu{
    display: flex;
    justify-content: center;
}
.bouttonMenu{
    padding: 15px 80px 15px 80px;
    border-right: 3px solid #ffc300;
    text-align: center;
    font-family: "Open Sans Light", serif;

}
.bouttonMenu:hover/*--------------Hover sur bouttons----*/
{
    background-color: #ffc300;
    color: white;
    font-family: "Open Sans SemiBold", serif;
    font-size: 18px;
    transition: .4s ease-in-out;
}
/*------------------------CONTENU------------------------*/
.photos{
    margin: 50px 50px 50px 80px;
    border: 2px solid white;
    cursor: pointer;
}
.photos:hover{
    transform: scale(1.1);
    transition: .4s ease-out;
}
.texte{
    width: 600px;
    text-align: justify;
    line-height: 30px;
}
h2{
    font-size: 45px;
    font-family: bromello, serif;
    color: #ffc300;
    margin-top: 234px;
}

p{
    font-family: "Open Sans Light", serif;
    color: white;
}

/*--------images----------*/

#tarte_maroilles{display: flex}
#fricadelle{display: flex}
#tarte_sucre{display: flex}
#cramique{display: flex}
#bière_nord{display: flex}
/*------------------------FOOTER------------------------*/

footer{
    background-color: #740E1D;
    display: flex;
    justify-items: center;
}
.reseaux_sociaux
{
    text-align: center;

}