body{
    margin: 0 auto 0 auto ;
    padding: 0;
    background-color:#333 ;
    width: 1500px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
header{
    background-color: white;
}
#menu{
    display: flex;
    justify-content: center;
    background-color: #ffc300;
    color: black;
}
#LOGO{
    margin-left: 400px;
    padding-top: 20px;
}
a{
    text-decoration: none;
    color: inherit;
    padding: 20px 80px 20px 80px;
    font-family: "Open Sans", serif;
    font-size: 15px;
}
a:hover{
    transition: .4s ease-in-out;
    background-color: #333333;
    color: white;
    font-family: "Open Sans SemiBold", serif;
}
.photos{
    width: 700px;
    margin: 80px 100px 0 0;
    transition: transform.4s ease-in-out;
}
.photos:hover{
    transform: scale(1.2);
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 3px 5px 5px black;
}

p{
    color: white;
    font-size: 15px;
    font-family: "Open Sans",serif;
}
h2{
    font-size: 55px;
    font-family: bromello, serif;
    color: #ffc300;
}
.texte{
    width: 500px;
    text-align: justify;
    margin-top: 100px;
    letter-spacing: 2px;
    line-height: 30px;
}
#tarte_maroilles{
    display: flex;
    justify-content: center;
}
#tarte_sucre{
    display: flex;
    justify-content: center;
}
#cramique{
    display: flex;
    justify-content: center;
}
#bière_nord{
    display: flex;
    justify-content: center;
}
#fricadelle{
    display: flex;
    justify-content: center;
}

#bouttonUP{
    float:right;
}

footer{
    background-color:#ffc300 ;
    font-family: "Open Sans",serif;
    font-size: 10px;
    letter-spacing: 2px;
    padding:30px;
    margin-top: 100px;
}
#reseaux_sociaux{
    float: right;
    margin-top: -54px;
    margin-right: 70px;
}